<h3>Question 1</h3>
Consider the following Python module:

a = 0

def b():

global a

a = c(a)
 
def c(a):

 return a + 2
 
After importing the module into the interpreter, you execute:

 b()
 b()
 b()
 a
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [1]:
#Initialize a global variable 'a' = 0
a = 0

#Defining the function
def b():
    global a    #declaring global variable
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
# Step 1: Call the function 'b' for the first time
print(b())      # 'a' is initially 0, 'c(0)' returns 2, so 'a' is updated to 2

# Step 2: Call the function 'b' for the second time
print(b())      # 'a' is now 2, 'c(2)' returns 4, so 'a' is updated to 4

# Step 3: Call the function 'b' for the third time
print(b())      # 'a' is now 4, 'c(4)' returns 6, so 'a' is updated to 6

# Step 4: Evaluate the expression 'a' (display the value of 'a')
print(a)

# Output: 6

None
None
None
6

<h3>Question 2</h3>
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

> fileLength('midterm.py')
284

> fileLength('idterm.py')
Traceback (most recent call last): File "<pyshell#34>", line 1, in

> fileLength('idterm.py')

File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

> fileLength('midterm.py')
358

> fileLength('idterm.py')
File idterm.py not found.

In [3]:
def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            contents = file.read()      # Read the contents of the file and store it in the 'contents' variable.
            print(len(contents))        # Print the length of the contents
    except FileNotFoundError:
        # If the file is not found, handle the FileNotFoundError exception.
        print(f"File {filename} not found.")
    except:
        # If any other exception occurs, handle it with a generic error message.
        print(f"An error occurred while reading {filename}.")

# Test cases

fileLength(r'D:\GEORGIANCLG\Filelength.txt')   # Testing with a file that exists
fileLength('idterm.py')    # Testing with a file that doesn't exist

123
File idterm.py not found.

<h3>Question 3</h3>
Write a class named Marsupial that can be used as shown below:

> m = Marsupial()
> m.put_in_pouch('doll')
> m.put_in_pouch('firetruck')
> m.put_in_pouch('kitten')
> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c. overloads the str operator so it behaves as shown below.

> k = Kangaroo(0,0)
> print(k)
I am a Kangaroo located at coordinates (0,0)

> k.put_in_pouch('doll')
> k.put_in_pouch('firetruck')
> k.put_in_pouch('kitten')
> k.pouch_contents()
['doll', 'firetruck', 'kitten']

> k.jump(1,0)
> k.jump(1,0)
> k.jump(1,0)
> print(k)
I am a Kangaroo located at coordinates (3,0)

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []      # Initialize an empty list 'pouch' as an instance variable.
    
    # Method to put an 'item' in the pouch.
    def put_in_pouch(self,item):
        self.pouch.append(item)
    
    # Method to get the contents of the pouch.
    def pouch_contents(self):
        return self.pouch

# Define a subclass 'Kangaroo' that inherits from 'Marsupial'
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        # Call the constructor of the base class 'Marsupial'
        super().__init__()
        # Initialize 'x' and 'y' coordinates as instance variables.
        self.x = x
        self.y = y
    
    # Method for the Kangaroo to jump by adjusting 'x' and 'y' coordinates.
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    # Define a custom string representation for Kangaroo objects.
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [5]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruch')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruch', 'kitten']

In [6]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [7]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruch')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruch', 'kitten']

In [8]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

<h3>Question 4</h3>
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = {洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops

> collatz(1)
1

> collatz(10)
10 5 16 8 4 2 1

In [9]:
def collatz(x):
    print(x)
    if x == 1:      # Check if 'x' has reached the base case, which is when it equals 1.
        return
    if x % 2 == 0:       # If 'x' is even (divisible by 2), make a recursive call with 'x' divided by 2.
        collatz(x // 2)
    else:                # If 'x' is odd, make a recursive call with '3x + 1'. 
        collatz(3 * x + 1)

In [10]:
collatz(1)

1

In [11]:
collatz(10)

10
5
16
8
4
2
1

<h3>Question 5</h3>
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

> binary(0)
0

> binary(1)
1

> binary(3)
11

> binary(9)
1001

In [12]:
def binary(n):
    # Check if 'n' is greater than 1, which is the base case for binary conversion.
    if n>1:
        # If 'n' is greater than 1, make a recursive call with 'n' divided by 2.
        binary(n//2)
    print(n%2,end='')       # Print the remainder of 'n' when divided by 2

In [13]:
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

<h3>Question 6</h3>
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

> infile = open('w3c.html')

> content = infile.read()

> infile.close()

> hp = HeadingParser()

> hp.feed(content)

W3C Mission Principles

In [14]:
from html.parser import HTMLParser

# Define a custom parser class 'HeadingParser' that inherits from HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False    # Initialize a flag to track if we are inside a heading tag

    # Method to handle the start of an HTML tag
    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading tag 
        if tag.startswith("h") and tag[1:].isdigit():
            self.in_heading = True    # Set the flag to True to indicate that we are inside a heading tag
    
    # Method to handle the end of an HTML tag
    def handle_endtag(self, tag):
        # Check if we are inside a heading tag and the current tag is a closing heading tag
        if self.in_heading and tag.startswith("h") and tag[1:].isdigit():
            self.in_heading = False   # Set the flag to False to indicate that we are no longer inside a heading tag
    
    # Method to handle text data within HTML tags
    def handle_data(self, data):
        if self.in_heading:
            print(data)     # Print the text data if we are inside a heading tag

infile = open('D:\GEORGIANCLG\w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

<h3>Question 7</h3>
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL.
    As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. 
    
   webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) 
   
   http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 
   
        http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
         http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [15]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent=0):
    if depth < 0:
        return

    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        print(' ' * indent + url)

        # Extract all anchor tags
        if depth > 0: #for positive depth
            links = soup.find_all('a') # Find and store all Anchor Tags into links
            for link in links:
                href = link.get('href') #retrive href value
                if href and href.startswith('http'): #condition checking for http 
                    webdir(href, depth - 1, indent + 2)

    except requests.exceptions.RequestException as e:
        # Handle request exceptions, e.g., invalid URLs
        print(" " * indent + f"Error accessing {url}: {e}")

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

<h3>Question 8</h3>
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.City Country Season Temperature(C) Rainfall (mm)

In [16]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ashwi\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\ashwi\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: six in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ashwi\anaconda3\lib\site-packages (from ipython-sql) (2.0.27)
Requirement already satisfied: ipython-genutils in c:\users\ashwi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: sqlparse in c:\users\ashwi\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ashwi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ashwi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: traitlets>=5 in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\ashwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: colorama in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (3.0.28)
Requirement already satisfied: backcall in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ashwi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: jedi>=0.16 in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: wcwidth in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\ashwi\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [17]:
%load_ext sql
%sql sqlite://

In [18]:
%%sql 
CREATE TABLE IF NOT EXISTS weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);

 * sqlite://
Done.

[]

In [19]:
%%sql
INSERT INTO weather (City, Country, Season, Temperature, Rainfall)
VALUES
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
12 rows affected.

[]

In [20]:
%%sql
SELECT * FROM weather

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [21]:
# a) All the temperature data.
print("Temperature Data Information")
Temperature = %sql SELECT Temperature FROM weather
print(Temperature)

# b) All the cities, but without repetition.
print("Information of All the Cities without repetition")
City = %sql SELECT DISTINCT City FROM weather
print(City)

# c) All the records for India.
print("Information of India")
India_Details = %sql SELECT * FROM weather WHERE Country = 'India'
print(India_Details)

# d) All the Fall records
print("Information of Fall")
Fall_Season_Info = %sql SELECT * FROM weather WHERE Season = 'Fall'
print(Fall_Season_Info)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
print("The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
Avg_RainFall = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_RainFall)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
print(" The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
Avg_Temprature = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_Temprature)

# g) The total annual rainfall for Cairo.
print("The total annual rainfall for Cairo")
Annual_Rainfall = %sql SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall FROM weather WHERE City = 'Cairo' GROUP BY City
print(Annual_Rainfall)

# h) The total rainfall for each season.
print("The total rainfall for each season")
Total_Rainfall = %sql SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season
print(Total_Rainfall)

Temperature Data Information
 * sqlite://
Done.
+-------------+
| Temperature |
+-------------+
|     24.8    |
|     28.4    |
|     27.9    |
|     27.6    |
|     4.2     |
|     8.3     |
|     15.7    |
|     10.4    |
|     13.6    |
|     20.7    |
|     27.7    |
|     22.2    |
+-------------+
Information of All the Cities without repetition
 * sqlite://
Done.
+--------+
|  City  |
+--------+
| Mumbai |
| London |
| Cairo  |
+--------+
Information of India
 * sqlite://
Done.
+--------+---------+--------+-------------+----------+
|  City  | Country | Season | Temperature | Rainfall |
+--------+---------+--------+-------------+----------+
| Mumbai |  India  | Winter |     24.8    |   5.9    |
| Mumbai |  India  | Spring |     28.4    |   16.2   |
| Mumbai |  India  | Summer |     27.9    |  1549.4  |
| Mumbai |  India  |  Fall  |     27.6    |  346.0   |
+--------+---------+--------+-------------+----------+
Information of Fall
 * sqlite://
Done.
+--------+----------------+--------+-------------+----------+
|  City  |    Country     | Season | Temperature | Rainfall |
+--------+----------------+--------+-------------+----------+
| Mumbai |     India      |  Fall  |     27.6    |  346.0   |
| London | United Kingdom |  Fall  |     10.4    |  218.5   |
| Cairo  |     Egypt      |  Fall  |     22.2    |   4.5    |
+--------+----------------+--------+-------------+----------+
The city, country, and season for which the average rainfall is between 200 and 400 millimeters
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
 The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
The total annual rainfall for Cairo
 * sqlite://
Done.
+-------+-----------------------+
|  City | Total_Annual_Rainfall |
+-------+-----------------------+
| Cairo |          27.6         |
+-------+-----------------------+
The total rainfall for each season
 * sqlite://
Done.
+--------+--------------------+
| Season |   Total_Rainfall   |
+--------+--------------------+
|  Fall  |       569.0        |
| Spring | 192.29999999999998 |
| Summer |       1706.5       |
| Winter |       230.1        |
+--------+--------------------+

<h3>Question 9</h3>
Suppose list words is defined as follows:

> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#Words in Uppercase
Uppercase_Words = [word.upper() for word in words]

#Words in Lowercase
Lowercase_Words = [word.lower() for word in words]

#Length of words
Length_of_Words = [len(word) for word in words]

#List of information with Uppercase, Lowercase and Word Length
Word_Info = [[word.upper(), word.lower(), len(word)] for word in words]

#Words with 4 or more characters
Long_Words = [word for word in words if len(word) >= 4]

print(Uppercase_Words)
print()
print(Lowercase_Words)
print()
print(Length_of_Words)
print()
print(Word_Info)
print()
print(Long_Words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']